
<div class="container">
  <h3>Convert HTML / URL to PDF</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#html2pdf">HTML2PDF</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#url2pdf">URL2PDF</a></li>
  </ul>

  <div class="tab-content">
    <div id="html2pdf" class="tab-pane container active">
      <app-htmlpdf></app-htmlpdf>
    </div>
    <div id="url2pdf" class="tab-pane container fade">
      <app-url2pdf></app-url2pdf>
    </div>
  </div>

</div>